/** offline font links */
@font-face {
  font-family: "name";
  src: url("");
}
/*! root file */
:root {
  /** variables */
  /* main color variables */
  --main-bg: rgb(255, 255, 255);
  --main-bg2: #ffa500;
  --clear-bg: rgba(0, 0, 0, 0.5);
  --main-color: #ffa500;
  --main-color2: #333333;
  --white: #fff;
  --black: #000;

  /* dimensions */
  --nav-height: 60px;
  /* --section-div-margin: 0 100px;
  --section-div-padding: 20px; */
}
/** nav bar */
.nav-wrapper {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: var(--nav-height);
  padding: 20px 50px;
  color: var(--main-color);
  background-color: var(--clear-bg);
  z-index: 10;
  width: 100vw;
}
/* logo */
.nav-wrapper > .logo > p {
  font-weight: 700;
  margin-bottom: 0;
}
/* nav bar */
.nav-wrapper > .nav-bar {
  text-align: right;
  position: relative;
}
/* nav bar links */
.nav-wrapper > .nav-bar > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.nav-wrapper > .nav-bar > ul > li {
  margin: 0 20px;
}
.nav-wrapper > .nav-bar > ul > li > a {
  color: var(--main-color);
}
/* burger menu */
.nav-wrapper > .burger-menu {
  display: none;
}
/** javascript css for nav menu */
/* active state for the webpage that is currently viewed by the user */
.active {
  font-weight: 700;
}
/*! ===== */
/** burger menu */
/* medium=768px */
@media screen and (max-width: 768px) {
  /* nav bar */
  .nav-wrapper > .nav-bar {
    position: absolute;
    top: -50vh;
    left: 0;
    background-color: var(--clear-bg);
    width: 100vw;
    height: 50vh;
    text-align: center;
    transition: top 500ms;
    -webkit-transition: top 500ms;
    -moz-transition: top 500ms;
    -ms-transition: top 500ms;
    -o-transition: top 500ms;
  }
  .nav-wrapper > .burger-menu {
    display: block;
  }
  .nav-wrapper > .burger-menu > .burger-menu-toggle > span > .close {
    display: none;
  }
  /* nav bar links */
  .nav-wrapper > .nav-bar > ul {
    height: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}
/* medium=768px */
@media screen and (max-width: 500px) {
  .fcf-btn {
    width: 100%;
  }
}
/*! ===== */

/* ===== */
section#about {
  height: 100vh;
}
@media screen and (min-width: 768px) {
  section#about {
    height: 400px;
  }
}
section#services > div > article {
  width: 100vw;
  height: 100vw;
}
@media screen and (min-width: 1024px) {
  section#services > div > article {
    height: 100vh;
  }
}
section#services > div > article > div {
  width: inherit;
  height: inherit;
}
section#services > div > article:nth-child(odd) {
  background-color: #808080;
}
section#services > div > article:nth-child(even) {
  background-color: #777373;
}
section#services > div > article.bridal-makeup {
  background-image: url(/img/bridal-makeup.jpg);
}
section#services > div > article.party-makeup {
  background-image: url(/img/lip-makeup.jpg);
}
section#services > div > article.effects-makeup {
  background-image: url(/img/effects-makeup.jpg);
}
section#services > div > article.home-service {
  background-image: url(/img/prof-makeup.jpg);
}
section#services > div > article {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section#services > div > article > div {
  background-color: var(--clear-bg);
}
footer > * {
  color: var(--main-color)
}
