/*? ==========  */
/*? beginning of basic css styles */
/*? ========== */
/** offline font links */
@font-face {
    font-family: "name";
    src: url('');
  }
/*! root file */
:root {
  /** variables */
  /* main color variables */
  --main-bg: ;
  --main-bg2: ;
  --main-color: ;
  --main-color2: ;
  --white: #fff;
  --black: #000;

  /* dimensions */
  --nav-height: ;
  --section-div-margin: ;
  --section-div-padding: ;
}
/** all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** large screen=1024px (960px-1024px) */
/* body */
body {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: normal;
  background-color: var(--main-bgc);
  color: var(--main-color);
}
/* text elements */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 150%;
  text-align: center;
}
h1 {
  margin-bottom: 0.8rem;
}
h2 {
  margin-bottom: 0.75rem;
}
h3 {
  margin-bottom: 0.6rem;
}
h4 {
  margin-bottom: 0.5rem;
}
h5 {
  margin-bottom: 0.4rem;
}
h6 {
  margin-bottom: 0.3rem;
}
/** to ensure that when you click on an id link, the header will not cover the beginning of the content the id is pointing to */
[id] {
  scroll-margin-top: 5em;
}
/** resets the link states to the page's main color and no decoration */
a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: var(--main-color);
}
/** removing the outline when inputs are on focus */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/** button */
button {
  cursor: pointer;
}
/** list */
ul {
  list-style: none;
  list-style-position: unset;
}
/*! ===== LARGE SCREEN FIRST RWD ===== */
/*! the ffg queries determine the font size and line height and any other basic styles of the elements in the file */
/*! the main media queries are located at the end of this file this is just the default media query styles */
/** extra-large=1440px+ */
@media screen and (max-width: 1440px) {
  /* body */
  body {
    font-size: 19px;
  }
}
/** medium=608px (608px-960px) */
@media screen and (max-width: 960px) {
  /* body */
  body {
    font-size: 17px;
  }
  /* text elements */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 140%;
  }
}
/** small=400px (400px-608px) */
@media screen and (max-width: 608px) {
  /* body */
  body {
    font-size: 16px;
  }
  /* text elements */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 130%;
  }
}
/** small=400px (400px and below) */
@media screen and (max-width: 400px) {
  /* body */
  body {
    font-size: 16px;
  }
  /* text elements */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 130%;
  }
}
/*? ==========  */
/*? end of basic css styles */
/*? ========== */