/** offline font links */
@font-face {
  font-family: "name";
  src: url("");
}
/*! root file */
:root {
  /** variables */
  /* main color variables */
  --main-bg: rgb(255, 255, 255);
  --main-bg2: orange;
  --clear-bg: rgba(0, 0, 0, 0.5);
  --main-color: #333333;
  --main-color2: orange;
  --white: #fff;
  --black: #000;

  /* dimensions */
  --nav-height: 60px;
  /* --section-div-margin: 0 100px;
  --section-div-padding: 20px; */
}
/** nav bar */
.nav-wrapper {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: var(--nav-height);
  padding: 20px 50px;
  color: var(--main-color2);
  background-color: var(--clear-bg);
  z-index: 10;
  width: 100vw;
}
/* logo */
.nav-wrapper > .logo > p {
  font-weight: 700;
  margin-bottom: 0;
}
/* nav bar */
.nav-wrapper > .nav-bar {
  text-align: right;
  position: relative;
}
/* nav bar links */
.nav-wrapper > .nav-bar > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.nav-wrapper > .nav-bar > ul > li {
  margin: 0 20px;
}
.nav-wrapper > .nav-bar > ul > li > a {
  color: var(--main-color2);
}
/* burger menu */
.nav-wrapper > .burger-menu {
  display: none;
}
/** javascript css for nav menu */
/* active state for the webpage that is currently viewed by the user */
.active {
  font-weight: 700;
}
/*! ===== */
/** burger menu */
/* medium=768px */
@media screen and (max-width: 768px) {
  /* nav bar */
  .nav-wrapper > .nav-bar {
    position: absolute;
    top: -50vh;
    left: 0;
    background-color: var(--clear-bg);
    width: 100vw;
    height: 50vh;
    text-align: center;
    transition: top 500ms;
    -webkit-transition: top 500ms;
    -moz-transition: top 500ms;
    -ms-transition: top 500ms;
    -o-transition: top 500ms;
  }
  .nav-wrapper > .burger-menu {
    display: block;
  }
  .nav-wrapper > .burger-menu > .burger-menu-toggle > span > .close {
    display: none;
  }
  /* nav bar links */
  .nav-wrapper > .nav-bar > ul {
    height: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/* medium=768px */
@media screen and (max-width: 500px) {
  .fcf-btn {
    width: 100%;
  }
}
/*! ===== */


/* ===== */
/* section#about {
  width: 100vw;
  height: 100vh;
  padding: var(--section-div-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section#services > div > article.bridal {
  background-image: url(/img/ankara-headgear.jpg);
}
section#services > div > article.studio {
  background-image: url(/img/young-ladies.jpg);
}
section#services > div > article.event {
  background-image: url(/img/black-girl-outside.jpg);
}
section#services > div > article {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
section#services > div > article > .article-content {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--section-div-padding);
}
@media screen and (max-width: 600px) {
  section#services > div > article > .article-content {
    height: 100vw;
  }
}
section#services > div > article > .article-content > button {
  background-color: transparent;
  border: 1px solid #fff;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 10px;
  color: white;
} */